<div class="container">

<h1>Podział zawodów na grupy</h1>

<form class="form" action="/cgroup" method="post">

<input type="hidden" name="nameofcontest" value="<%= contest.name %>" />

<input type="hidden" name="noref" value="<%= contest.noref %>" />

<table class="table">

	<tr>
		<td><input type="hidden" name="namem" value="Ogiery" /></td>
		<td><input type="hidden" name="namef" value="Klacze" /></td>
	</tr>

	<tr>
		<td>
			<select id="addmalelist" class="form-control" name="startinglistmale">
				<% contest.startinglist.forEach(function(slcontestant) { %>
				<% contestants.forEach(function(contestant) { %>

				<% if (slcontestant.name == contestant.name && contestant.sex == "male") { %>
				<option value="<%= slcontestant.no %>-<%= slcontestant.name %>">
					<%= slcontestant.no %>. <%= slcontestant.name %>
				</option>
				<% } %>

				<% }); %>
				<% }); %>
			</select>
			<button id="addmale" type="button" class="btn btn-link">Dodaj do grupy ogierów</button>
		</td>
		<td>
			<select id="addmalelistref" class="form-control" name="startinglistmaleref">

				<% refs.forEach(function(ref) { %>
				<option value="<%= ref.username %>"><%= ref.username %></option>
				<% }); %>

			</select>
			<button id="addmaleref" type="button" class="btn btn-link">Dodaj sędziego do grupy ogierów</button>
		</td>
	</tr>

	<tr>
		<td>
			Grupa ogierów:
			<div id="groupmale"></div>
		</td>
		<td>
			<div class="errorref"></div>
			Lista sędziów:
			<div id="groupmaleref"></div>
		</td>
	</tr>

	<tr>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<td>
			<select id="addfemalelist" class="form-control" name="startinglistfemale">
				<% contest.startinglist.forEach(function(slcontestant) { %>
				<% contestants.forEach(function(contestant) { %>

				<% if (slcontestant.name == contestant.name && contestant.sex == "female") { %>
				<option value="<%= slcontestant.no %>-<%= slcontestant.name %>">
					<%= slcontestant.no %>. <%= slcontestant.name %>
				</option>
				<% } %>

				<% }); %>
				<% }); %>
			</select>
			<button id="addfemale" type="button" class="btn btn-link">Dodaj do grupy klaczy</button>
		</td>
		<td>
			<select id="addfemalelistref" class="form-control" name="startinglistfemaleref">

				<% refs.forEach(function(ref) { %>
				<option value="<%= ref.username %>"><%= ref.username %></option>
				<% }); %>

			</select>
			<button id="addfemaleref" type="button" class="btn btn-link">Dodaj sędziego do grupy klaczy</button>
		</td>
	</tr>

	<tr>
		<td>
			Grupa klaczy:
			<div id="groupfemale"></div>
		</td>
		<td>
			<div class="errorref"></div>
			Lista sędziów:
			<div id="groupfemaleref"></div>
		</td>
	</tr>

</table>

<div class="buttons">
	<button type="submit" class="btn btn-primary">Zapisz</button>
</div>

</form>

	<form action="/lgroup" method="get">
		<input type="hidden" name="name" value="<%= contest.name %>" />
		<button type="submit" class="btn btn-link">Anuluj</button>
	</form>

</div>

<script src='/js/cgroup.js'></script>
