<script src="js/ioadmin.js"></script>

<div class="container">

<h1><img id="contestStatus" src="img/bullet_red.png" width="35" /><%= contest.name %></h1>

<input type="hidden" name="nameofcontest" value="<%= contest.name %>" />

<% groups.forEach(function(group) { %>
<table class="table">
<caption><%= group.name %></caption>

<thead>
	<tr>
		<th>Nr</th>
		<th>Nazwa</th>
		<th colspan="3"></th>
	</tr>
</thead>

<tbody>
	<% group.reflist.forEach(function(ref) { %>
	<input type="hidden" name="<%= group.name %>" value="<%= ref.username %>" />
	<% }); %>

	<% group.grouplist.forEach(function(contestant) { %>
	<tr>
		<td><%= contestant.no %></td>
		<td><%= contestant.name %></td>
		<td><button name="start" type="button" class="btn btn-success" value="<%= group.name %>-<%= contestant.no %>">Start</button></td>
		<td><button name="stop" type="button" class="btn btn-danger" value="<%= group.name %>-<%= contestant.no %>">Stop</button></td>
		<td><img id="img<%= contestant.no %>" src="img/wrong.png" width="35" /></td>
	</tr>
	<% }); %>
</tbody>

</table>
<% }); %>

<input id="close" type="button" class="btn btn-primary" value="Zakończ">

<table class="table">

<caption id="contestantDisplay"></caption>

<thead>
	<tr>
		<th>Sędzia</th>
		<th>Typ</th>
		<th>Głowa i szyja</th>
		<th>Kłoda</th>
		<th>Nogi</th>
		<th>Ruch</th>
	</tr>
</thead>

<tbody>
<% groups.forEach(function(group) { %>
<tr><th><%= group.name %></th><th></th><th></th><th></th><th></th><th></th></tr>
<% group.reflist.forEach(function(ref) { %>
	<tr id="<%= group.name %>-<%= ref.username %>">
		<td class="ref"></td>
		<td class="typ"></td>
		<td class="glowa"></td>
		<td class="kloda"></td>
		<td class="nogi"></td>
		<td class="ruch"></td>
	</tr>
<% }); %>
<% }); %>
</tbody>

</table>

</div>
