<script src="js/ioscores.js"></script>

<div class="container">

<h1><img id="contestStatus" src="img/bullet_red.png" width="35" /><%= contest.name %></h1>

<h2>Oceny cząstkowe</h2>

<% groups.forEach(function(group) { %>
<table class="table">
<caption><%= group.name %></caption>

<thead>
	<tr>
		<th>Nr</th>
		<th>Sędzia</th>
		<th>Typ</th>
		<th>Głowa i szyja</th>
		<th>Kłoda</th>
		<th>Nogi</th>
		<th>Ruch</th>
	</tr>
</thead>

<tbody id="partial-<%= group.name %>" >
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<% scores.forEach(function(score) { %>
<% if (score.group == group.name) { %>
	<tr>
		<td><%= score.no %></td>
		<td><%= score.ref %></td>
		<td><%= score.typ %></td>
		<td><%= score.glowa %></td>
		<td><%= score.kloda %></td>
		<td><%= score.nogi %></td>
		<td><%= score.ruch %></td>
	</tr>
<% } %>
<% }); %>
</tbody>

</table>
<% }); %>

<h2>Oceny końcowe</h2>

<% groups.forEach(function(group) { %>
<table class="table">
<caption><%= group.name %></caption>

<thead>
	<tr>
		<th>Nr</th>
		<th>Nazwa</th>
		<th>Ocena</th>
		<th>Miejsce w rankingu</th>
	</tr>
</thead>

<tbody id="final-<%= group.name %>">
<tr><td></td><td></td><td></td></tr>
<% finalscores.forEach(function(finalscore) { %>
<% if (finalscore.group == group.name) { %>
	<tr>
		<td><%= finalscore.no %></td>
		<td><%= finalscore.name %></td>
		<td><%= finalscore.score %></td>
		<td id="<%= finalscore.no %>"><%= finalscore.rank %>
		<% if (finalscore.rank == 1) { %>
		<img src="/img/trophy-gold-animated-gif-4.gif" height="20" width="23" alt="gold" />
		<% } else if (finalscore.rank == 2) {  %>
		<img src="/img/trophy-silver-animated-gif-3.gif" height="20" width="23" alt="silver" />
		<% } else if (finalscore.rank == 3) {  %>
		<img src="/img/trophy-bronze-animated-gif-3.gif" height="20" width="23" alt="bronze" />
		<% } %>
		</td>
	</tr>
<% } %>
<% }); %>
</tbody>

</table>
<% }); %>

</div>
